@{
    ViewData["Title"] = "Home Page";
}
@model AsyncPracticeThang.ViewModels.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to Async Practice Thang</h1>
    <p>@Model.RandomNumber</p>
</div>
